<% include partials/head.ejs %>

<div class="container main-page">
    <div class="text-center pb-5">
        <h1><%= title %></h1>
        <p>You are now seeing the ads filtered!</p>
        <p>List of Tags:</p>
        <ul class="list-group flex-row justify-content-center pb-2">
            <li class="list-group-item"><a href="/api/ads">Show all</a></li>
            <li class="list-group-item"><a href="/api/ads?tags=work">Work</a></li>
            <li class="list-group-item"><a href="/api/ads?tags=lifestyle">Lifestyle</a></li>
            <li class="list-group-item"><a href="/api/ads?tags=mobile">Mobile</a></li>
            <li class="list-group-item"><a href="/api/ads?tags=motor">Motor</a></li>
        </ul>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
        <% ads.forEach(ad => { %>
        <div class="col">
            <div class="card">
                <img src=<%= ad.image || "https://placedog.net/560" %> class="card-img-top" alt="<%= ad.name %>">
                <div class="card-body">
                    <p class="card-text text-center card-title"><%= ad.name %>.</p>
                    <p class="card-text d-flex justify-content-between card-price font-weight-bold"><%= ad.price %> €. <i><%= ad.sale === true ? 'For sale' : 'To buy' %>.</i></p>
                    <p>Tags: <%= ad.tags %>.</p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<% include partials/footer.ejs %>