<% include partials/head.ejs %>
<% include partials/header.ejs %>

<div class="container page-container main-page">
    <div class="text-center pb-5">
        <h1><%= title %></h1>
        <p><%= __('ads_page.subtitle') %></p>
        <p><%= __('ads_page.list_tags') %></p>
        <ul class="list-group flex-row justify-content-center pb-2">
            <li class="list-group-item"><a href="/ads"><%= __('basics.show_all') %></a></li>
            <li class="list-group-item"><a href="/ads?tags=work">Work</a></li>
            <li class="list-group-item"><a href="/ads?tags=lifestyle">Lifestyle</a></li>
            <li class="list-group-item"><a href="/ads?tags=mobile">Mobile</a></li>
            <li class="list-group-item"><a href="/ads?tags=motor">Motor</a></li>
        </ul>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
        <% ads.forEach(ad => { %>
        <div class="col">
            <div class="card">
                <img src=<%= ad.thumbnail ? `/thumbnails/${ad.thumbnail}` : "https://placedog.net/100" %> class="card-img-top" alt="<%= ad.name %>">
                <div class="card-body">
                    <p class="card-text text-center card-title"><%= ad.name %>.</p>
                    <p class="card-text d-flex justify-content-between card-price font-weight-bold"><%= ad.price %> €. 
                        <i>
                            <%= ad.sale === true ? __('for_sale') : __('to_buy') %>.
                        </i>
                    </p>
                    <p>Tags: <%= ad.tags %>.</p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<% include partials/footer.ejs %>